
/*--- Header ---*/

ul {
  list-style: none;
}

body {
  background-color: rgb(244, 244, 244);
  font-family: sans-serif;
}

header {
  background-color: rgb(33, 33, 33);
  color: var(--white-text);
  display: flex;
  padding: 4vh 6vw;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
}

.nav {
  display: flex;
  gap: 3vw;
  margin-right: 4vw;
}

/*--- Title ---*/

.about-title-big{
  font-size: calc(20px + 3vw);
  font-weight: 800;
  width: 100vw;
  height: 10vh;
  padding: 14vh 6vw;
}

.wrapper{
  padding: 16vh var(--padding-left);
}