
/* #region UTILITY */
:root {
  --cl-neutral-100: rgb(255, 255, 255);
  --cl-neutral-200: rgb(242, 242, 242);
  --cl-neutral-900: rgb(10, 10, 10);
  --cl-accent-400: rgb(199, 44, 67);
  --animation-time: 0.25s;
}

div.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.animate-width {
  transition: width var(--animation-time);
}

.fs-200 { font-size: 1rem; }
.fs-300 { font-size: 1.25rem; }
.fs-400 { font-size: 1.5rem; }
.fs-500 { font-size: 1.75rem; }
.fs-550 { font-size: 2rem; }
.fs-600 { font-size: 3rem; }
.fs-700 { font-size: 3.25rem; }
.fs-800 { font-size: 3.75rem; }
.fs-900 { font-size: 4.5rem; }
.fs-950 { font-size: 6rem; }

@font-face {
  font-family: "galano-grotesque-light";
  src: url(../assets/fonts/Galano\ Grotesque\ Light.woff);
}

@font-face {
  font-family: "galano-grotesque-semibold";
  src: url(../assets/fonts/Galano\ Grotesque\ Semi\ Bold.woff);
}

@font-face {
  font-family: "galano-grotesque-bold";
  src: url(../assets/fonts/Galano\ Grotesque\ Bold.woff);
}

.ff-ggb {
  font-family: "galano-grotesque-bold", sans-serif;
}

.ff-ggs {
  font-family: "galano-grotesque-semibold", sans-serif;
}

.ff-ggl {
  font-family: "galano-grotesque-light", sans-serif;
}

body {
  background-color: var(--cl-neutral-200);
  color: var(--cl-neutral-100);
}

html {
  font-size: 10px;
}

@media screen and (min-width: 59em) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 79em) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 99em) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 119em) {
  html {
    font-size: 16px;
  }
}

button {
  cursor: pointer;
}

.text-color-red {
  color: var(--cl-accent-400);
}

.text-color-black {
  color: var(--cl-neutral-900);
}

.text-color-white {
  color: var(--cl-neutral-100);
}

.link-hover-red a:hover {
  transition: color var(--animation-time);
  color: var(--cl-accent-400);
}

.width-wrapper {
  width: 90%;
  margin: 0 auto;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* #endregion */

/* #region THE RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Button reset */
button {
  border: none;
  padding: 0;
  background: none;
  outline: none;
  text-decoration: none;
}

/* Link reset */
a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion */

/* #region HEADER */
.header-banner {
  background-color: transparent;
  color: var(--cl-neutral-200);
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: background-color 0.6s ease;
}

div.black-background {
  background-color: var(--cl-neutral-900);
  color: var(--cl-neutral-200);
}

.logo {
  width: 8rem;
  height: 3rem;
}

.btn-nav,
.btn-nav svg{
  --btn-nav-width: 6rem;
  --btn-nav-height: 6rem;
  --btn-nav-translate-x: calc(var(--btn-nav-width) * 0.07111);
  --btn-nav-translate-y: calc(var(--btn-nav-height) * 0.07111);
  width: var(--btn-nav-width);
  height: var(--btn-nav-height);
}

.btn-nav svg {
  background-color: inherit;
}

.stroke-top,
.stroke-mid,  
.stroke-bottom {
  transform-origin: center;
}

.stroke-top {
  transition: transform var(--animation-time);
}

.rotate-minus-45 {  
  transform: translate(var(--btn-nav-translate-x), var(--btn-nav-translate-y)) rotate(-45deg);
}

.stroke-bottom {
  transition: transform var(--animation-time);
}

.rotate-45 {
  transform: translate(var(--btn-nav-translate-x), calc(-1 * var(--btn-nav-translate-y))) rotate(45deg);
}

.stroke-mid {
  stroke-width: 2;
  transition: stroke-width var(--animation-time);
}

.zero-width {
  stroke-width: 0;
}

.nav-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--cl-neutral-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 3rem;
  margin-right: 6rem;
}

.nav-mobile {
  margin: auto;
  flex-direction: column;
  align-items: center;
}
/* #endregion */

/* #region FOOTER */
footer {
  height: 30vh;
  background-color: black;
}
/* #endregion */
