
/* #region HOME */
.home {
  /*background-image: url("./images/home-background.jpg");*/
  background-color: rgb(48, 48, 48);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 3rem 0;
}

.home-layout-first { grid-area: one; }
.home-layout-second { grid-area: two; }
.home-layout-third { grid-area: three; }

.home-layout {
  display: grid;
  grid-template-areas: 
  "one"
  "two"
  "three";
  row-gap: 3rem;
  column-gap: calc(12vw);
  justify-items: start;
  align-items: center;
}

@media screen and (min-width: 50em) {
  .home-layout {
    grid-template-areas: 
    "one one"
    "two three";
  }
  .home-layout-third {
    justify-self: end;
  }
}

.black-div-button {
  background-color: var(--cl-neutral-900);
  padding: 0.5rem 1.5rem;
  width: 24rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.8rem;
  text-align: start;
}

.black-div-button p {
  min-width: 9rem;
  line-height: 2.4rem;
}

.black-div-button img {
  width: 4.5rem;
  height: 4.5rem;
  transition: transform 0.7s ease, opacity 0.7s ease;
  transform: translateX(-60%);
  opacity: 0;
}

.black-div-button:hover img {
  transform: translateX(0%);
  opacity: 1;
}
/* #endregion */

/* #region ABOUT US */
.au-left-column { grid-area: one; }
.au-vid-column { grid-area: two; }

.about-us-layout {
  display: grid;
  grid-template-areas: 
  "one"
  "two";
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 50em) {
  .about-us-layout {
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "one one two two two";
  }
}

.au-left-column {
  justify-content: center;
  gap: 2rem;
}

.au-vid-column {
  margin: 0 auto;
  background-color: var(--cl-neutral-900);
  width: 45rem;
  height: 30rem;
}

/* #endregion */

/* #region SCROLL SLİDER */

/* #endregion */

/* #region SUCCESS STORİES */

/* #endregion */

/* #region REFERANCES */

/* #endregion */

/* #region BLOG LİNKS */

/* #endregion */

/* #region CONTACT */

/* #endregion */



/*--- Scroll Slider ---*/

.scroll-wrapper {
  height: 200vh;
  position: relative;
}

.scroll-slider {
  position: sticky;
  top: 0;
  background-color: black;
  height: 100vh;
  color: var(--cl-neutral-200);
  padding: 10vh var(--padding-left);
  padding-top: 20vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4fr 2fr 1fr;
  column-gap: 0.8vw;
}

.slider-card > *:not(:last-child) {
  margin-bottom: 3vh;
}

.slider-card {
  height: 20vh;
  position: relative;
}

.white-bar {
  transition: all 0.5s ease;
  width: 100%;
  height: 1vh;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.red-bar {
  background-color: red;
}

.scroll-slider > p:first-of-type {
  font-weight: 600;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.info-text {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr 1fr;
  opacity: 0;
  transition: all 1s ease;
}

.info-text>p:first-child {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.visible {
  transition: all 1s ease;
  opacity: 1;
}

/*--- Success Stories ---*/

.success-stories {
  height: 100vh;
  padding: 14vh 0 0 var(--padding-left);
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
}

.success-stories > p {
  width: 30ch;
}

.arrow-buttons button {
  background-color: white;
  border: 0;
  width: 4vw;
  height: 8vh;
  border-radius: 6px;
  text-align: center;
}

.arrow-buttons button:hover {
  background-color: rgb(202, 202, 202);
}

.arrow-buttons {
  margin: 0 6vw 0 15vw;
  display: flex;
  gap: 0.3vw;
  align-self: end;
}

.arrow-buttons svg {
  width: 1.3vw;
  height: auto;
  overflow: visible;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.story-card {
  background-color: gray;
  height: 35vh;
  width: 16vw;
}

.card-screen {
  height: 40vh;
  width: 93vw;
  padding: 2.5vh 0;
  overflow: hidden;
}

.card-grid {
  transition: all 0.6s ease;
  width: 300vw;
  display: flex;
  gap: 2vw;
}

.button-holder {
  margin-top: 6vh;
  display: flex;
}

/*--- References ---*/

.referances {
  margin-top: 6vh;
  padding: 6vh var(--padding-left);
  overflow-x: hidden;
}

.referances > p {
  margin-bottom: 6vh;
}

@keyframes carousel {
  from {
    left: 0px;
  }
  to {
    left: -100vw;
  }
}

.brand-scroll {
  margin-left: calc(-1 * var(--padding-left));
  margin-bottom: 6vh;
  width: 200vw;
  height: 25vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  animation: carousel 15s linear infinite;
}

.brand-scroll > img {
  width: 5vw;
  height: 5vw;
}

.button-holder > a > div {
  opacity: 0.8;
}

.referances > .button-holder {
  justify-content: center;
}

/*--- Blog ---*/

.blog-links {
  padding: 7vh var(--padding-left);
}

.blog-card-holder {
  margin: 4vh 0;
  display: flex;
  justify-content: space-between;
}

.blog-card {
  background-color: aliceblue;
  width: 25vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

/*--- Contact ---*/

.contact {
  background-color: white;
  padding: 5vh 3vw;
  margin: 10vh 14vw;
  height: 28vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  row-gap: 2vh;
  column-gap: 5vw;
  box-shadow: 10px 10px 10px rgb(199, 199, 199);
}

.contact > p:first-child {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: auto 0;
}

.contact > p + p {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.contact > form {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2vh;
  column-gap: 1vw;
}

input[type="text"] {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
  border: none;
  padding: 5px;
}

input[type="checkbox"] {
  margin-right: 4px;
}

label > a {
  text-decoration: underline;
}

.third-row-holder {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
}

.checkbox-holder {
  display: flex;
  align-items: center;
  justify-content: start;
}

.third-row-holder > button {
  border: none;
  background-color: black;
  color: var(--cl-neutral-200);
  padding: 1vh 1vw;
  border-radius: 4px;
}

/*--- Footer ---*/

footer {
  height: 30vh;
  background-color: black;
}
